body{
    background-image:repeating-radial-gradient(#ffebe3 ,#ffd600 5%)
    
}


.App {
  text-align: center;
  color:#e52515;
}
.riddle{
  border-color:#4d6b00;
  background-image:repeating-radial-gradient(white,#ffebe3 5%);
  border-style: ridge;
  border-width: 2vmin;
  display: inline-block;
  padding:4vmin;
  margin-top:4vmin;
}

.App h1{
  text-decoration: underline;
}
.toGuess{
  font-size: 7vh;
  letter-spacing: 0.5vw;

}
.info{
  font-size:4vh;
}

