.myButton{
    border-style:ridge ;
    border-radius:13vmin;
    font-size:10vmin;
    padding:3vmin;
    display:inline-block;
    background-image:repeating-radial-gradient(#ffebe3 ,#ff6c34 5%);
    margin-top:2vmin;
}



