.letter {
    display:inline-block;
    flex-direction: column;
    border-style:ridge;
    margin:2px;
    padding:2px;
    font-size:4vmin;
    border-radius: 1vmin;
}
.used{
    background-color: black;
}